body {
  background-color: #000;

  > * {
    width: 900px;
  }
}
canvas {
  background-color: #fff;
}
main {
  background-color: #fff;
  padding-block: 1em;

  div {
    padding: 0.5em;
    font-size: 1.5em;
  }
}
label {
  display: inline-block;
  width: 15ch;
}
